.card__container{
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    background-color: #fff;
}

#details {
    min-width: 80vw;
}

.card__author{
    color:grey;
    line-height: 1;
    margin-bottom: 10px;
}

.card__authorName{
    display: flex;
    margin-bottom: 4px;
    align-items: center;
    font-weight: bold;
}
.card__authorAvatar{
    font-size: 20px;
}

.card__heading{
    margin-bottom: 12px;
    font-size: 1.5rem;
}

.card__headingTitle{
    display: inline-block;
}

.card__headingLocation{
    color:#26e  ;
}

.card__content .card__icons{
    margin-top: 8px;
    display: flex;
    align-items: center;
}



@media screen and (max-width:460px){
    .card__container{
        /* width: 90%; */
        padding: 20px;
        border: none;
        display: flex;
        flex-direction: column ;
        justify-content: center;
        background-color: #fff;
        /* align-items: center; */
    }
    .card__authorAvatar{
        font-size: 20px;
    }
    .card__comment{
        margin-top: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border:none;
    }
    .card__commentBg{
        justify-content: center;
        background-color: #ddd;
        padding: 2px;
    }
    .card__commentInput{
        border: none;
        outline: none;
    }
    
    .card__commentButton{
        color:#fff;
        background-color:#26e;
        border-style: none;
        margin-left: 0;
    }

}

.card__comment{
    margin-top: 12px;
    display: flex;
    align-content: center;
    /* flex:1; */
    width: 100%;
    border:none;
}
.card__commentBg{
    display: flex;
    background-color: #ddd;
    padding: 6px;
    flex: 1;
}
.card__commentInput{
    border: none;
    /* width: 90%; */
    flex: 4;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.card__commentButton{
    color:#fff;
    /* width: 10%; */
    max-width: 100px;
    flex:1;
    background-color:#26e;
    border-style: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
    /* margin-left: 20px; */
}

 .del {
    background-color:#f42 !important;
    margin-top: 12px;
}
 .update {
    background-color:rgb(47, 86, 214) !important;
    margin-top: 12px;
    margin-left: 12px;
}